
body {
    font-family: 'Inter', sans-serif; /* Change font to Inter */
    background-color: #F7F1E5; /* Light background */
    }

header {
position: fixed;
top: 0;
left: 0;
right: 70px;
z-index: 100;
padding: 20px;
display: flex;
justify-content: space-between;
align-items: center;
font-family: 'Instrument Sans', Arial, sans-serif;
}

.logo {
width: 180px; /* Smaller logo for the menu icon */
}

.profile {
display: flex;
flex-direction: column;
align-items: center;
position: relative;
padding: 40px 20px;
height: 100vh;
}

.arch-container {
position: relative;
width: 100%;
min-height: 80vh; /* Change from 100vh to min-height: 80vh */
display: flex;
align-items: flex-end;
justify-content: center;
padding-bottom: 100px; /* Reduced padding */
}

.profile-content {
position: relative;
z-index: 2;
text-align: center;
}

.center-logo {
width: 500px;
height: 500px;
display: block;
margin: 0 auto;
border-radius: 50%;
object-fit: cover;
}

.footer {
width: 100%;
background: #F7F1E5;
backdrop-filter: blur(5px);
padding: 20px 0;
margin-top: 100px; /* Add margin to create space between content and footer */
}

.footer-content {
max-width: 1200px;
margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 40px;
}

.footer-logo-img {
width: 100px;
height: auto;
}

.footer-links {
display: flex;
gap: 30px;
}

.footer-links a {
color: #44392b;
text-decoration: none;
font-size: 16px;
transition: color 0.3s ease;
position: relative;
}

.footer-links a::after {
content: '';
position: absolute;
width: 0;
height: 2px;
bottom: -4px;
left: 0;
background: linear-gradient(45deg, #c3a86e, #91764c);
transition: width 0.3s ease;
}

.footer-links a:hover {
color: #9c845c;
}

.footer-links a:hover::after {
width: 100%;
}

.header-nav a {
margin: 0 40px;
text-decoration: none;
font-weight: bold;
font-size: 1.3rem;
color: #372929; /* Default text color */
position: relative; /* Positioning for the pseudo-element */
overflow: hidden; /* Prevent overflow for the folding effect */
transition: color 0.3s ease; /* Smooth transition for color */
}

.header-nav a::after {
content: '';
position: absolute;
left: 50%; /* Center the underline */
bottom: -4px; /* Position the underline below the text */
width: 100%; /* Full width of the text */
height: 2px; /* Height of the underline */
background: #978978; /* Color of the underline */
transform: translateX(-50%) scaleX(0); /* Center and hide the underline */
transition: transform 0.3s ease; /* Transition for the underline */
}

.header-nav a:hover {
color: #978978; /* Change text color on hover */
transform: perspective(500px) rotateX(10deg); /* Folding effect */
}

.header-nav a:hover::after {
transform: translateX(-50%) scaleX(1); /* Show the underline on hover */
}